---
title: "À propos"
description: "Description du projet SOTEREL et de son équipe."
css:
  - /assets/css/section.css
  - /assets/css/card.css
style: |
  .content > p {
    margin: 0px;
    margin-bottom: 15px;
    text-indent: 40px;
  }

  .team .members {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .team .card {
    width: 100%;
    max-width: 350px;
  }

  .team .card .title span {
    color: #2f7c29;
  }

  .partners .members {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }

  .partners .members a {
    margin-right: 30px;
    margin-bottom: 30px;
  }

  .contact .email {
    margin-bottom: 15px;
  }

  .website p {
    text-indent: 0px;
  }
---

<h1><span>À</span> propos</h1>

<div class="sections">
  <h2 id="equipe">L'équipe</h2>
  <div class="content team">
    <p>
      Nous sommes un collectif de citoyens développant des outils sous licence libre pour la <a href="{{ "/concepts#soutenabilite" | relative_url }}">soutenabilité</a> territoriale et la <a href="{{ "/concepts#resilience" | relative_url }}">résilience</a> locale. Nous nous basons sur la <a href="{{ "/concepts#permaculture" | relative_url }}">permaculture</a> et réfléchissons principalement à l'<a href="{{ "/concepts#echelle-locale" | relative_url }}">échelle locale</a>. Nous n'avons pour le moment pas de structure juridique.
    </p>
    <div class="members">
      {% include card.html
        title="<span>Vincent</span> Lefoulon"
        description="Ingénieur informatique, membre actif des <a href='https://theshiftproject.org/equipe/#benevoles'>Shifters</a> et étudiant du <a href='http://tcamp.fr/'>T Camp</a> 2019, où j'ai notamment été formé à la permaculture. Je m'installe en janvier 2020 dans un petit village en Aveyron pour vivre de façon plus sobre et plus proche de la nature, ainsi que pour développer la résilience locale avec les habitants."
        url="https://vayel.github.io/"
      %}
      {% include card.html
        title="<span>Julie</span> Bonnet"
        description="Docteure en biologie, facilitatrice et conférencière sur la transition écologique et sociale. J'expérimente et partage les bases de modes de vie soutenables (permaculture, gouvernance partagée...) en tant que bénévole au sein d'associations telles que le <a href='https://campus-transition.org/'>Campus de la Transition</a> et Hello Marseille."
        url="https://www.linkedin.com/in/julie-bonnet/"
      %}
    </div>
  </div>

  <h2 id="partenaires">Nos partenaires</h2>
  <div class="content partners">
    <p>
      Nous cherchons autant que possible à créer des synergies avec des projets existants. Les organismes et personnes suivantes nous soutiennent et/ou collaborent avec nous. Vous aussi ?
    </p>
    <div class="members">
      <a href="https://campus-transition.org/">
        <img src="{{ "/assets/img/campus_transition.png" | relative_url }}" alt="Campus de la Transition" />
      </a>
      <a href="https://team.inria.fr/steep/">
        <img src="{{ "/assets/img/steep.png" | relative_url }}" alt="Sustainability Transition, Environment, Economy and local Policy - INRIA" />
      </a>
    </div>
  </div>

  <h2 id="contact">Contact</h2>
  <div class="content contact">
    <div class="email">
      vincent&#60;point&#62;lefoulon&#60;arobase&#62;free&#60;point&#62;fr
    </div>
    <div class="address">
      Laëtis<br />
      Place de l’église<br />
      12120 Arvieu<br />
      Aveyron France
    </div>
  </div>

  <h2 id="website">Site</h2>
  <div class="content website">
    <p>
      Le contenu de ce site est sous <strong>licence
      <a href="https://creativecommons.org/licenses/by/4.0/deed.fr">CC BY</a></strong>.
    </p>
    <p>
      Ce site a été conçu et développé de sorte à minimiser le poids des pages
      et les calculs à faire pour leur rendu, pour obtenir une <strong>
      consommation énergétique minimale</strong>.
    </p>
  </div>
</div>
