---
css:
  - /assets/css/card.css
style: |
  .description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 50px;
  }

  .description > * {
    margin: 0px;
    max-width: 400px;
    text-align: justify;
    text-indent: 40px;
  }

  .cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 20px;
  }
---

<h1>
  <span>So</span>utenabilité <span>Te</span>rritoriale et <span>Ré</span>silience <span>L</span>ocale
</h1>

<div class="description">
  <p>
    Proximité du <a href="{{ "/constats#pic-petrolier" | relative_url }}">pic pétrolier</a>, <a href="{{ "/constats#changement-climatique" | relative_url }}">changement climatique</a>, <a href="{{ "/constats#destruction-des-ecosystemes" | relative_url }}">destruction des écosystèmes</a>, <a href="{{ "/constats#inegalites-sociales" | relative_url }}">inégalités sociales</a>... Nos territoires et leurs habitants sont mis sous tension et le seront de plus en plus, avec de moins en moins d’énergie pour s’adapter et dans un environnement aux capacités régénératrices altérées. Il est urgent de les rendre à la fois <a href="{{ "/concepts#resilience" | relative_url }}">résilients</a> et <a href="{{ "/concepts#soutenabilite" | relative_url }}">soutenables</a>.
  </p>
  <p>
    Nous sommes un <a href="{{ "/a-propos#equipe" | relative_url }}">collectif de citoyens</a> développant pour ce faire des outils sous licence libre. Nous nous basons sur la <a href="{{ "/concepts#permaculture" | relative_url }}">permaculture</a> et réfléchissons principalement à l'<a href="{{ "/concepts#echelle-locale" | relative_url }}">échelle locale</a>. Autant que possible, nous cherchons à créer des <a href="{{ "/a-propos#partenaires" | relative_url }}">synergies</a> avec des initiatives existantes et à impliquer les citoyens dans notre démarche.
  </p>
</div>

<div class="cards" id="outils">
  {% include card.html
    title="Outil de diagnostic de résilience"
    description="Nous souhaitons définir une méthodologie pour aider les citoyens à mener un diagnostic de résilience à échelle locale et la matérialiser, à terme, dans un outil numérique."
    url="/diagnostic-de-resilience/"
  %}
  {% include card.html
    title="Outil de design permacole"
    description="Nous souhaitons développer un outil numérique pour faciliter le design permacole d’un lieu et l’implication de ses habitants dans cette démarche."
    url="/design-permacole/"
  %}
</div>
