<header>
  <a class="logo" href="{{ "/" | relative_url }}">
    <img src="{{ "/assets/img/logo.png" | relative_url }}" alt="{{ site.title }}" />
  </a>
  <a href="{{ "/design-permacole/" | relative_url }}">
    <h2>
      Outil de design permacole 
    </h2>
  </a>
  <nav>
    <ul>
      <li>
        <a href="{{ "/design-permacole/constats" | relative_url }}">
          Constats
        </a>
      </li>
      <li>
        <a href="{{ "/design-permacole/equipe" | relative_url }}">
          Équipe
        </a>
      </li>
    </ul>
  </nav>
</header>
