<header class="project">
  <a class="logo" href="{{ "/" | relative_url }}">
    {% if site.logo and site.logo != "" %}
      <img src="{{ site.logo | relative_url }}" alt="{{ site.title }}" />
    {% else %}
      {{ site.title }}
    {% endif %}
  </a>
  <a class="project-title" href="{{ "/design-permacole/" | relative_url }}">
    <h2>
      Outil de design permacole 
    </h2>
  </a>
  <nav>
    <ul>
      <li>
        <a href="{{ "/design-permacole/problematique" | relative_url }}">
          Problématique
        </a>
      </li>
      <li>
        <a href="{{ "/design-permacole/conception" | relative_url }}">
          Conception
        </a>
      </li>
      <li>
        <a href="{{ "/design-permacole/equipe" | relative_url }}">
          Équipe
        </a>
      </li>
    </ul>
  </nav>
</header>
