<header>
  <a class="logo" href="{{ "/" | relative_url }}">
    <img src="{{ "/assets/img/logo.png" | relative_url }}" alt="{{ site.title }}" />
  </a>
  <nav>
    <ul>
      <li>
        <a href="{{ "/constats" | relative_url }}">
          Constats
        </a>
      </li>
      <li>
        <a href="{{ "/concepts" | relative_url }}">
          Concepts
        </a>
      </li>
      <li>
        <a href="{{ "/#outils" | relative_url }}">
          Outils
        </a>
      </li>
      <li>
        <a href="{{ "/a-propos" | relative_url }}">
          À propos
        </a>
      </li>
    </ul>
  </nav>
</header>
