<header class="project">
  <a class="logo" href="{{ "/" | relative_url }}">
    {% if site.logo and site.logo != "" %}
      <img src="{{ site.logo | relative_url }}" alt="{{ site.title }}" />
    {% else %}
      {{ site.title }}
    {% endif %}
  </a>
  <a class="project-title" href="{{ "/diagnostic-de-resilience/" | relative_url }}">
    <h2>
      Outil de diagnostic de résilience
    </h2>
  </a>
  <nav>
    <ul>
      <li>
        <a href="{{ "/diagnostic-de-resilience/problematique" | relative_url }}">
          Problématique
        </a>
      </li>
      <li>
        <a href="{{ "/diagnostic-de-resilience/etat-de-l-art" | relative_url }}">
          État de l'art
        </a>
      </li>
      <li>
        <a href="{{ "/diagnostic-de-resilience/avancement" | relative_url }}">
          Avancement
        </a>
      </li>
      <li>
        <a href="{{ "/diagnostic-de-resilience/equipe" | relative_url }}">
          Équipe
        </a>
      </li>
    </ul>
  </nav>
</header>
