<div class="voolradime">
  <strong style="grid-row-start: 1; grid-row-end: 3;">Définir où l’on veut aller</strong>
  <span class="name"><span class="letter">V</span>ision</span>
  <span class="description">Comment ai-je envie que soit ma vie, ma maison, mon terrain dans quelques années ?</span>
  <span class="name"><span class="letter">O</span>bjectifs</span>
  <span class="description">Comment traduire ma vision en objectifs concrets, réalistes et mesurables ?</span>

  <strong style="grid-row-start: 3; grid-row-end: 6;">Connaître précisément son contexte</strong>
  <span class="name"><span class="letter">O</span>bservation</span>
  <span class="description">Quelles sont les caractéristiques du site sur lequel j’envisage de réaliser mon projet ?</span>
  <span class="name"><span class="letter">L</span>imites</span>
  <span class="description">Qu’est-ce qui pourrait m’empêcher de réaliser mon projet ?</span>
  <span class="name"><span class="letter">R</span>essources</span>
  <span class="description">Sur quoi vais-je pouvoir m’appuyer pour réaliser mon projet ?</span>

  <strong style="grid-row-start: 6; grid-row-end: 8;">Dessiner son projet</strong>
  <span class="name"><span class="letter">A</span>nalyse</span>
  <span class="description">Comment mettre de l’ordre dans toutes cette masse d’informations ?</span>
  <span class="name"><span class="letter">D</span>esign</span>
  <span class="description">Comment positionner les différents éléments de façon pertinente ?</span>

  <strong style="grid-row-start: 8; grid-row-end: 11;">Mettre en oeuvre le projet sur le terrain, le faire fonctionner et l’améliorer</strong>
  <span class="name"><span class="letter">I</span>nstallation</span>
  <span class="description">Comment mettre en oeuvre concrètement le design du site ?</span>
  <span class="name"><span class="letter">M</span>aintenance</span>
  <span class="description">Comment planifier dès aujourd’hui le travail qu’il faut fournir pour faire fonctionner mon système ?</span>
  <span class="name"><span class="letter">E</span>volution</span>
  <span class="description">Mon système fonctionne-t-il bien ? Que peut-on améliorer ?</span>
</div>

<div class="legend">
  Grégory Derville, “Le design permaculturel” dans <i>La Permaculture</i>. Terre vivante, 2018, p. 161
</div>
