html, body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica", "Arial", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px 15px 50px;
}

header a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  font-size: 14px;
  font-family: "McLaren", cursive;
}

header .logo {
  font-weight: bold;
  color: #2f7c29;
  font-size: 18px;
}

header h2 {
  font-weight: normal;
  font-size: 16px;
  margin: 0px;
}

header nav a:hover,
header nav a:focus {
  color: #2f7c29;
}

header nav ul {
  margin: 0px;
}

header nav li {
  display: inline-block;
  list-style-type: none;
  padding: 0px 10px;
  margin: 0px;
}

#content {
  padding: 30px;
}

.spacer {
  flex-grow: 1;
}
