html, body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 16px;
}

a {
  color: #000;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 50px 15px 50px;
}

header a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "McLaren", cursive;
}

header .logo {
  font-weight: bold;
  color: #2f7c29;
  font-size: 18px;
  margin-right: 20px;
}

header .project-title {
  flex-grow: 1;
  text-align: center;
}

header .project-title h2 {
  font-weight: normal;
  font-size: 16px;
  margin: 0px;
  margin-right: 20px;
}

header a:hover,
header a:focus {
  color: #2f7c29;
}

header nav {
  flex-grow: 1;
  text-align: right;
}

header nav ul {
  margin: 0px;
  padding: 0px;
}

header nav li {
  display: inline-block;
  list-style-type: none;
  padding: 0px 10px;
  margin: 0px;
}

#content {
  padding: 30px;
}

#content h1 {
  text-align: center;
  margin: 0px;
  margin-bottom: 30px;
  font-family: "McLaren", cursive;
  font-weight: normal;
  font-size: 30px;
}

#content h1 span {
  color: #2f7c29;
}

#content h2 {
  font-family: "McLaren", cursive;
  font-weight: normal;
  font-size: 24px;
}

.spacer {
  flex-grow: 1;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  margin-top: 30px;
}

footer a {
  text-decoration: none;
}

footer a:hover,
footer a:focus {
  color: #2f7c29;
}
