.card {
  max-width: 400px;
  border: 1px solid #2f7c29;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.card .title {
  text-align: center;
  background: #2f7c29;
  padding: 20px;
  text-decoration: none;
  color: #fff;
  display: block;
  font-size: 20px;
  font-family: "McLaren", cursive;
}

.card .description {
  text-indent: 20px;
  font-size: 14px;
  padding: 10px;
  padding-bottom: 0px;
  margin: 0px;
}

.card .read-more {
  text-align: center;
  padding: 10px;
  padding-top: 0px;
  text-decoration: none;
  font-size: 35px;
  padding: 0px 6px;
  font-weight: bold;
  margin: 15px auto;
}

.card .read-more div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #2f7c29;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #2f7c29;
}
