.card {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.card .title {
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 20px;
  font-family: "McLaren", cursive;
  color: #000;
}

.card hr {
  height: 1px;
  background: #2f7c29;
  border: none;
}

.card .sep {
  width: 100%;
  max-width: 300px;
}

.card .description {
  text-indent: 20px;
  font-size: 14px;
  padding: 5px 0px;
  margin: 0px;
}

.card .read-more {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 300px;
  margin: auto;
}

.card .read-more hr {
  flex-grow: 1;
}

.card .read-more a {
  text-decoration: none;
  font-family: "McLaren", cursive;
  text-transform: uppercase;
  color: #2f7c29;
  font-size: 14px;
  margin: 0 10px;
}
