.card {
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.card .title {
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 1.2em;
  font-family: "McLaren", Helvetica;
  color: #000;
  margin: 0px;
}

.card hr {
  height: 1px;
  background: #2f7c29;
  border: none;
}

.card .sep {
  width: 100%;
  max-width: 300px;
}

.card .description {
  text-indent: 20px;
  font-size: 0.9em;
  padding: 5px 0px;
  margin: 0px;
}

.card .read-more {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 300px;
  margin: auto;
}

.card .read-more hr {
  flex-grow: 1;
}

.card .read-more a {
  text-decoration: none;
  font-family: "McLaren", Helvetica;
  text-transform: uppercase;
  color: #2f7c29;
  font-size: 0.9em;
  margin: 0 10px;
}

@media screen and (max-width: 800px) {
  .card {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
