<!DOCTYPE html>
<html lang="{{ site.lang }}">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{{ "/assets/css/base.css" | relative_url }}">
  {{ page.head }}
  {% seo %}
</head>
<body>
  <div id="container">
    <header>
      <a href="{{ "/" | relative_url }}">
        <img src="{{ "/assets/img/logo.png" | relative_url }}" alt="{{ site.title }}" />
      </a>
      <nav>
        <ul>
          <li>
            <a href="{{ "/constats" | relative_url }}">
              Constats
            </a>
          </li>
          <li>
            <a href="{{ "/concepts" | relative_url }}">
              Concepts
            </a>
          </li>
          <li>
            <a href="{{ "/diagnostic-de-resilience/" | relative_url }}">
              Diagnostic de résilience
            </a>
          </li>
          <li>
            <a href="{{ "/design-permacole/" | relative_url }}">
              Design permacole
            </a>
          </li>
          <li>
            <a href="{{ "/a-propos" | relative_url }}">
              À propos
            </a>
          </li>
        </ul>
      </nav>
    </header>

    <section id="content">
      {{ content }}
    </section>

    <footer>
    </footer>
  </div>
  {{ page.js }}
</body>
</html>
