<!DOCTYPE html>
<html lang="{{ site.lang }}">
<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" type="image/png" href="{{ "/assets/img/favicon.png" | relative_url }}">

  
  <link href="https://fonts.googleapis.com/css?family=McLaren&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ "/assets/css/base.css" | relative_url }}">

  {% for url in page.css %}
    <link rel="stylesheet" type="text/css" href="{{ url | relative_url }}">
  {% endfor %}

  <style>
    {{ page.style }}
  </style>

  {% seo %}
</head>
<body>
  <div id="container">
    {% if page.header %}
      {% include {{ page.header }} %} 
    {% else %}
      {% include header.html %} 
    {% endif %}

    <section id="content">
      {{ content }}
    </section>

    <footer>
      <div class="licence">
        Licence du site : CC BY
      </div>
      <div class="nav">
        <a href="{{ "/a-propos#contact" | relative_url }}">Nous contacter</a>
      </div>
      <div class="social">
        <a href="https://github.com/SOTEREL">
          <img src="{{ "/assets/img/github.png" | relative_url }}" alt="Github" />
        </a>
      </div>
    </footer>
  </div>
  {% for url in page.js %}
    <script src="{{ url | relative_url }}"></script>
  {% endfor %}
  <script>
    {{ page.script }}
  </script>
</body>
</html>
